<div class="panel panel-primary" *ngFor="let student of students">
  <div class="panel-heading">
    <h3 class="panel-title">{{student.name}}</h3>
  </div>
  <div class="panel-body">
    <div class="col-xs-10">
      <div class="row">
        <div class="col-xs-4">
          <img [src]="student.photoPath" />
        </div>
        <div class="col-xs-8">
          <div class="row">
            <div class="col-xs-6">
              Gender
            </div>
            <div class="col-xs-6">
              : {{student.gender}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              Date Of Birth
            </div>
            <div class="col-xs-6">
              : {{student.dateOfBirth}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              Email
            </div>
            <div class="col-xs-6">
              : {{student.email}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              Phone
            </div>
            <div class="col-xs-6">
              : {{student.phonNumber}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              Department
            </div>
            <div class="col-xs-6">
              : {{student.department}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              isActice
            </div>
            <div class="col-xs-6">
              : {{student.isActive}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>